@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&family=Kanit&family=Nanum+Gothic:wght@400;700&family=Noto+Sans&family=Rajdhani&family=Roboto:wght@100&family=Source+Code+Pro&family=Space+Grotesk:wght@300&family=Ubuntu&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Rajdhani', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cell {
  width: 150px;
  height: 150px;
  border: 1px solid #F3DFBF;
  text-align:center;
  display: flex;
  font-size: xxx-large;
  font-weight: 900;
  text-transform: capitalize;
  cursor: pointer;
  color: #F3DFBF;
  background-color: #0e0c1f;
  justify-content: center;


}

@tailwind base;
@tailwind components;
@tailwind utilities;

